html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#left {
    grid-area: left;
    background-color: rgb(219, 58, 3);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 7rem;
}
#right {
    grid-area: right;
    /* background-color: lightblue; */
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "left right";
    /* grid-gap: 20px; */
    /* padding: 20px; */
    height: 100vh;
}

#right img {
    width: 100%;
    height: auto;
}

#left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#left a {
    color: white;
    text-decoration: none;
    background-color: rgb(140, 35, 0);
    padding: 0.5rem;
}

#left a:hover {
    text-decoration: underline;
    color: lightgray;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: white;
}