/*
    Eit forsøk på å 'flexboxe' eks. frå https://www.w3schools.com/howto/howto_css_split_screen.asp 
*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row; /* Standard er row */
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

#del1 {
    background-color: black;
    color: white;
    flex-grow: 1;
}
#del2 {
    background-color: red;
    flex-grow: 1;
}

figure img {
    border-radius: 50%;
}